<web-app>
    <servlet>
        <servlet-name>ReservationServlet</servlet-name>
        <servlet-class>ReservationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReservationServlet</servlet-name>
        <url-pattern>/ReservationServlet</url-pattern>
    </servlet-mapping>
</web-app>


<servlet>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>DashboardServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/dashboard</url-pattern>
</servlet-mapping>
